<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.junit.launchconfig">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.ibm.team.fvt.tests.rm.user.module/src/com/ibm/team/fvt/tests/rm/user/module/scenario/ModuleUserScenario.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.junit.CONTAINER" value=""/>
<booleanAttribute key="org.eclipse.jdt.junit.KEEPRUNNING_ATTR" value="false"/>
<stringAttribute key="org.eclipse.jdt.junit.TESTNAME" value=""/>
<stringAttribute key="org.eclipse.jdt.junit.TEST_KIND" value="org.eclipse.jdt.junit.loader.junit4"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.ibm.team.fvt.tests.rm.user.module.scenario.ModuleUserScenario"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="com.ibm.team.fvt.tests.rm.user.module"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DparamFilesDir=params&#13;&#10;-DparamFilesPath=browser/firefox_v78.properties;rm-user-module/tomcat.properties;system_under_test.properties&#13;&#10;-DbaseUrl=&#13;&#10;-DfirstStep=RmUserScenarioModule_01_&#13;&#10;-DfirstTest=&#13;&#10;-Dsteps=&#13;&#10;-Dtests=&#13;&#10;-DcleanData=false&#13;&#10;-Xms512m&#13;&#10;-Xmx2048m"/>
</launchConfiguration>
